:root {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
    font-size: calc(10px + 0.33vw);
    padding: 5vh 10vw;
    color: #121314;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}


@font-face {
    font-family: "Helvitica";
    src: url("./assets/fonts/Helvetica.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "exmouth";
    src: url("./assets/fonts/exmouth.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

